# Dataset Preparation Funcions

In [ ]:
import pandas as pd
import numpy as np

Tenemos un ```Dataframe``` que determina el ```ID``` de las caracteristicas con el nombre de la caracteristica

In [ ]:
features = {'FeatureID':[1,2,3,4], 'Feature': ['F1', 'F2', 'F3', 'F4']}
features_df = pd.DataFrame(features)
features_df

   FeatureID Feature
0          1      F1
1          2      F2
2          3      F3
3          4      F4

Tenemos un ```Dataframe``` que determina el ```ID``` de los objetos con el nombre del objeto

In [ ]:
objects = {'ObjectID':[1,2,3], 'Object':['O1', 'O2', 'O3']}
objects_df = pd.DataFrame(objects)
objects_df

   ObjectID Object
0         1     O1
1         2     O2
2         3     O3

Tenemos un ```Dataframe``` que determina las relaciones entre los items y sus caracteristicas

In [ ]:
objects_featuresid = {'ItemID': [1,1,1,2,2,3,3,3], 'FeatureID': [1,2,3,3,4,2,3,4]}
objects_featuresid_df = pd.DataFrame(objects_featuresid)
objects_featuresid_df

   ItemID  FeatureID
0       1          1
1       1          2
2       1          3
3       2          3
4       2          4
5       3          2
6       3          3
7       3          4